<!-- TOAST PARA EVITAR MALTRATAR ANIMALES-->
<div class="container p-4">
    <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">

            <strong class="mr-auto">NOOOO</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            No maltrates a los animales
        </div>
    </div>

</div>
<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
                src="https://www.petdarling.com/wp-content/uploads/2021/01/cachorros.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />

        <img
                src="https://ahmmympvjo.cloudimg.io/v7/tribb.me/post/image/10664-20201105085635?w=770"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://s1.eestatic.com/2018/04/14/social/la_jungla_-_social_299733479_73870677_1706x960.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
        />

        <img
                src="https://images.cults3d.com/Zh04FbWEg1IBCBk_AL0hlxJHlzs=/516x516/filters:format(webp)/https://files.cults3d.com/uploaders/22374940/illustration-file/47d5a1e6-b1b4-4b37-b42c-271d550807b6/%E2%80%98Unos-pedillos%E2%80%99%2C-la-historia-detr%C3%A1s-del-MEME-para-responder-preguntas-inc%C3%B3modas.png"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://album.mediaset.es/eimg/10000/2021/02/17/clipping_VT0sLP_bd15.jpg?w=1200"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
        />

        <img
                src="https://milesdefondos.com/wp-content/uploads/2021/06/tumblr_p610a6u5F01t0btdio4_r1_1280.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>
</div>
<!-- Gallery -->

<div>
    <div align="" class="drop-area containe">
        <h3>Arrastra y suelta imagenes de perritos</h3>
        <span>O</span>
        <button style="background-color: #00B7FF">Selecciona tus archivos</button>
        <input type="file" name="" id="input-file" hidden multiple>
    </div>
    <div id="preview"></div>

</div>

