<div class="contenedor-formularios">
    <div id="Mismascotas">
        <h1>publicar adopcion</h1>
        <form  method="post">

            <div class="contenedor-input">
                <label>
                    Nombre <span class="req">*</span>
                </label>
                <input name="nombre" type="text" required >
            </div>

            <div class="contenedor-input">
                <label>
                    Tipo <span class="req">*</span>
                </label>
                <input name="tipo" type="text" required>
            </div>

            <div class="contenedor-input">
                <label>
                    Raza <span class="req">*</span>
                </label>
                <input name="raza" type="text" required>
            </div>
            <div class="contenedor-input">
                <label>
                    Edad <span class="req">*</span>
                </label>
                <input name="edad" type="text" required>
            </div>
            <div class="contenedor-input">
                <label>
                    sexo (H/M) <span class="req">*</span>
                </label>
                <input name="sexo" type="text" required>
            </div>
            <input type="submit" class="button button-block" value="Agregar mascota">
        </form>
    </div>
</div>