<div class="row">


    <div class="col-md-6 mx-auto">
        <div class="contenedor-formularios">
            <!-- Links de los formularios -->
            <div class="contenido-radio ">
                <form method="post">
                    <!-- Registrarse -->
                    <div id="registrarse">
                        <h1 id="titulore">Registrarse</h1>
                        <ul class="contenedor-radio">
                            <li class="rad rad-quinta "><a href="/Persona">Persona</a></li>
                            <li class="vete rad-segunda "><a href="/veterinario">Veterinario</a></li>
                            <li class="pase rab-primera"><a href="/paseador">Paseador</a></li>
                            <li class="cui rab-tercera"><a href="/cuidador">Cuidador</a></li>
                            <li class="clin rab-cuarta active"><a href="/clinica">Clinica </a></li>
                            <li class="este rab-cuarta"><a href="/este">Estetica </a></li>
                        </ul>

                        <div class="contenido-persona">
                            <div class="contenedor-input">
                                <label for="nombre">
                                    Nombre clinica<span class="req">*</span>
                                </label>
                                <input placeholder="Nombre clinica" name="nombre" type="text" required>
                            </div>

                            <div class="contenedor-input">
                                <label for="usuariocli">
                                    Usuario <span class="req">*</span>
                                </label>
                                <input placeholder="Usuario" name="usuario" type="text" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="emailcli">
                                    Email <span class="req">*</span>
                                </label>
                                <input placeholder="Email" name="email" type="email" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="cel">
                                    celular (10 digitos)<span class="req">*</span>
                                </label>
                                <input placeholder="Celular" name="celular" type="text" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="permisocli">
                                    permiso<span class="req">*</span>
                                </label>
                                <input placeholder="permiso" name="permiso" type="text" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="callecli">
                                    calle y numero<span class="req">*</span>
                                </label>
                                <input placeholder="Calle y numero" name="calle" type="text" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="coloniacli">
                                    colonia <span class="req">*</span>
                                </label>
                                <input placeholder="colonia" name="colonia" type="text" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="municipiocli">
                                    delegacion/municipio <span class="req">*</span>
                                </label>
                                <input placeholder="Delegacion/municipio" name="delegacion_muni" type="text" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="cpcli">
                                    Codigo postal <span class="req">*</span>
                                </label>
                                <input placeholder="Codigo postal" name="codigo_postal" type="number" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="servicioscli">
                                    Descripcion de servicios <span class="req">*</span>
                                </label>
                                <input name="servicios" type="text" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="contracli">
                                    Contraseña <span class="req">*</span>
                                </label>
                                <input name="contrasena" type="password" required>

                            </div>
                            <input type="submit" class="registrar-usuario button-block regis-usuario"
                                   value="Registrarse">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>