<div class="row">
    <div class="col-md-6 mx-auto">


    <div class="contenedor-formularios">
        <!-- Links de los formularios -->
        <div class="contenido-radio ">
            <form method="post">
                <!-- Registrarse -->
                <div id="registrarse">
                    <h1 id="titulore">Registrarse</h1>
                    <ul class="contenedor-radio">
                        <li class="rad rad-quinta "><a href="/Persona">Persona</a></li>
                        <li class="vete rad-segunda "><a href="/veterinario">Veterinario</a></li>
                        <li class="pase rab-primera"><a href="/paseador">Paseador</a></li>
                        <li class="cui rab-tercera"><a href="/cuidador">Cuidador</a></li>
                        <li class="clin rab-cuarta"><a href="/clinica">Clinica </a></li>
                        <li class="este rab-cuarta active"><a href="/este">Estetica </a></li>
                    </ul>
                    <div class="contenido-persona">
                        <div class="contenedor-input">
                            <label for="nombreest">
                                Nombre estetica <span class="req">*</span>
                            </label>
                            <input name="nombre" type="text" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="usuario">
                                Usuario <span class="req">*</span>
                            </label>
                            <input name="usuario" type="text" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="emailest">
                                Email <span class="req">*</span>
                            </label>
                            <input name="email" type="email" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="numeest">
                                numero celular (10 digitos) <span class="req">*</span>
                            </label>
                            <input name="celular" type="text" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="calleest">
                                calle y numero<span class="req">*</span>
                            </label>
                            <input name="calle_num" type="text" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="coloniaest">
                                colonia <span class="req">*</span>
                            </label>
                            <input name="colonia" type="text" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="municipioest">
                                delegacion/municipio <span class="req">*</span>
                            </label>
                            <input name="delegacion_muni" type="text" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="cpest">
                                Codigo postal <span class="req">*</span>
                            </label>
                            <input name="codigo_postal" type="number" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="contraest">
                                Contraseña <span class="req">*</span>
                            </label>
                            <input name="contraseña" type="password" required>
                        </div>
                        <input type="submit" class="registrar-usuario button-block regis-usuario"
                               value="Registrarse">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>