<div class="row">
    <div class="col-md-6 mx-auto">
    <div class="contenedor-formularios">
        <!-- Links de los formularios -->
        <div class="contenido-radio ">
            <form  method="post">
                <!-- Registrarse -->
                <div id="registrarse">
                    <h1 id="titulore">Registrarse</h1>
                    <ul class="contenedor-radio">
                        <li class="rad rad-quinta "><a href="/Persona">Persona</a></li>
                        <li class="vete rad-segunda "><a href="/veterinario">Veterinario</a></li>
                        <li class="pase rab-primera active"><a href="/paseador">Paseador</a></li>
                        <li class="cui rab-tercera"><a href="/cuidador">Cuidador</a></li>
                        <li class="clin rab-cuarta"><a href="/clinica">Clinica </a></li>
                        <li class="este rab-cuarta"><a href="/este">Estetica </a></li>
                    </ul>

                    <div class="contenido-persona">
                        <div class="fila-arriba">
                            <div class="contenedor-input">
                                <label for="nombrepas">
                                    Nombre <span class="req">*</span>
                                </label>
                                <input name="nombre" type="text" required>
                            </div>

                            <div class="contenedor-input">
                                <label for="apeidopas">
                                    Apellido <span class="req">*</span>
                                </label>
                                <input name="apeido" type="text" required>
                            </div>
                        </div>
                        <div class="contenedor-input">
                            <label for="usuariopas">
                                Usuario <span class="req">*</span>
                            </label>
                            <input name="usuario" type="text" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="celpas">
                                celular (10 digitos) <span class="req">*</span>
                            </label>
                            <input name="celular" type="text" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="emailpas">
                                Email <span class="req">*</span>
                            </label>
                            <input name="email" type="email" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="zonapas">
                                zona de paseo <span class="req">*</span>
                            </label>
                            <input name="zona_paseo" type="text" required>
                        </div>
                        <div class="contenedor-input">
                            <label for="contrapas">
                                Contraseña <span class="req">*</span>
                            </label>
                            <input name="contrasena" type="password" required>
                        </div>
                        <input type="submit" class="registrar-usuario button-block regis-usuario"
                               value="Registrarse">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
