<div class="row">
    <div class="col-md-6 mx-auto">

        <div class="contenedor-formularios">

            <!-- Links de los formularios -->
            <div class="contenido-radio ">
                <form method="post">

                    <!-- Registrarse -->
                    <div id="registrarse">
                        <h1 id="titulore">Registrarse</h1>
                        <ul class="contenedor-radio">

                        </ul>
                        <div class="contenido-persona" id="conperson">
                            <div class="fila-arriba">
                                <div class="contenedor-input">
                                    <label for="nombrere">
                                        Nombre <span class="req">*</span>
                                    </label>
                                    <input name="nombre" id="nombrere" type="text" required>
                                </div>

                                <div class="contenedor-input">
                                    <label for="apeidore">
                                        Apellido <span class="req">*</span>
                                    </label>
                                    <input name="apeido" id="apeidore" type="text" required>
                                </div>
                            </div>
                            <div class="contenedor-input">
                                <label for="usuariore">
                                    Usuario <span class="req">*</span>
                                </label>
                                <input name="usuario" id="usuariore" type="text" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="emailre">
                                    Email <span class="req">*</span>
                                </label>
                                <input name="email" id="emailre" type="email" required>
                            </div>
                            <div class="contenedor-input">
                                <label for="contraseñare">
                                    Contraseña <span class="req">*</span>
                                </label>
                                <input name="contrasena" id="contraseñare" type="password" required>
                            </div>
                            <input type="submit" class="registrar-usuario button-block regis-usuario"
                                   value="Registrarse">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
